body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;  
  // background-color: rgb(57, 57, 57);
  // background-image:  url("../public/assets/images/bg-image.jpg");
  background-size: cover;
font-size: 14px;
color: rgb(0, 0, 0);
font-weight: 300;
}

.panel-default {
  opacity: 0.9;
  margin-top: 30px;
}

.form-group.last {
  margin-bottom: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}